html {
   /*background: linear-gradient(to bottom , gray, white); */
    background: radial-gradient(circle, #ffffff, #aca6a6, #909090);
   height: 100%;
}

body{
    font-family: sans-serif;
    padding-top:10px;
}

div.wrapper {
    /*background: radial-gradient(circle, #ffffff, #aca6a6, #909090);*/
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 50px;
    
}
    
    h1 {
    color:#ffffff;
    font-size: 200%;
    margin-top: 20px;
    }

a, button {
    text-decoration: none;
    color: white;
    /*border-radius:20px;*/
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #747474;
    margin-bottom: 20px;
    display: inline-block;
    padding:10px;
}

a:hover
{
    color: black;
    background-color: #ebebeb;
}

form {
    display: inline-block;
}

form input {
    text-align: center;
    font-size:100%;
    width: 20px;
    padding: 10px;
        
}

span {
    font-size: 200%;
}

#equals {
    font-size: 200%;
    width:55px;
    
        
}



/*.btn {
    background-color: gray;
    color:white;
    font-size: 200%;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
*/
    
        


@media only screen and (max-width: 600px) {
            
    div.wrapper {
    /*background: radial-gradient(circle, #ffffff, #aca6a6, #909090);*/
    margin: auto;
    text-align: center;
    width: 75%;
    padding: 50px;
    }
    
    h1 {
    font-size: 150%;
    }
    h2 {
        font-size: 150%;
    }
    
} 