/* #######################
# 1. RESET
####################### */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* #######################
# 2. Standard HTML Tags (except hyperlinks, forms, p, h1-h6 )
####################### */
html, body {
  height: 100%;
  width: 100%;
}

body {
	/*background-color: #fffae5;*/
}

div.div_logo{
	margin: 0 auto;
	
}

div.div_login-form {
	margin: 0 auto;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 30px;
	border-radius: 5px;
	background-color: #f7f7f7;
	-webkit-box-shadow: -5px 10px 39px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 10px 39px -3px rgba(0,0,0,0.75);
	box-shadow: -5px 10px 39px -3px rgba(0,0,0,0.75);
}

div.div_links {
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
}

div.div_label {
	height: 30px;
	padding-top: 10px;
	margin: 0 auto;
	font-size: 150%;
}

div.div_inputField {
	height: 30px;
	padding-top: 10px;
	margin: 0 auto;
	
}

input {
	-webkit-appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}/*removed yellow autofill from chrome default behavior*/


input.input_field {
	height: 30px;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}

input.input_button {
	height: 31px;
	border-radius: 5px;
	background-color: #EE2526;/*stenograph red*/
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 95%;
	
}
.width90per {
	width: 90%;
}

.max_width350 {
	max-width: 350px;
}
.min_width320 {
	min-width: 320px;
}

.img_logo {
	width: 100%;
}

div.divinner {
	width: 40%;
	margin: 0 auto;
}

.img_logo_stenograph {
	width: 100%;
}

.div-more-info {
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0 auto;
}

.inline-block{
	display: inline-block;
	width: 100%;
}

.div_more-info-button {
	float: right;
	padding-right: 5px;
	font-size: 16pt;
}

p {
	text-align: center;
	font-size: 13pt;
	margin-bottom: 10px;
}

div.copyright {
	color: #999;
	font-size: 13px;
	text-align: center;
}

/*@media only screen and (min-width: 768px) {
    /* For desktop: */
 /*   .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	.col-custom {width: 50%;}
}
*/