* {
    touch-action: none;
}

body {
    background: rgb(5, 87, 1);
    display: flex;
    justify-content: center;
    touch-action: none;
}

canvas {
    background: rgb(138, 137, 137);
    border: 5px sold green;
    touch-action: none;
}

button {
    font-family: 'Courier New', Courier, monospace;
    touch-action: none;
}

#up {
    background-color: azure;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    touch-action: manipulation;
    margin: 2px;
    border-radius: 20%;
    
}

#down {
    background-color: azure;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    touch-action: manipulation;
    margin: 2px;
    border-radius: 20%

}

#left {
    background-color: azure;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    touch-action: manipulation;
    margin: 2px;
    border-radius: 20%;
    margin-right:200px;

}

#right {
    background-color: azure;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    touch-action: manipulation;
    margin: 2px;
    border-radius: 20%

}

.centerbuttons {
    text-align: center;
    touch-action: none;
}
